section.about 
    .container 
        +blockBox('What we do', 'Story about us', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum eos obcaecati tempore quaerat id. Excepturi, obcaecati. Odio, sed provident eveniet veniam quisquam, voluptatem mollitia debitis sit, minus incidunt neque.')
        .about-list 
            +aboutItem('../images/img-about1.png',"Super Team","fa fa-users")
            +aboutItem('../images/img-about2.png',"Super Team","fa fa-users")
            +aboutItem('../images/img-about3.png',"Super Team","fa fa-users")