section.work 
    .container 
        +blockBox("What we do", "Some of our work", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique optio id, ipsum deserunt quis aliquam nihil sapiente eligendi dicta in, qui sequi cupiditate voluptas placeat autem minima? Impedit, ipsam incidunt!")
        .work-list 
            .work-column 
                +workItem("../images/img-work1.png", "fa fa-home", "Creativity design")
                +workItem("../images/img-work2.png", "fa fa-home", "Creativity design")
            .work-column 
                +workItem("../images/img-work3.png", "fa fa-home", "Creativity design")
                +workItem("../images/img-work4.png", "fa fa-home", "Creativity design")
            .work-column 
                +workItem("../images/img-work5.png", "fa fa-home", "Creativity design", "work-item--full")
            .work-column 
                +workItem("../images/img-work6.png", "fa fa-home", "Creativity design")
                +workItem("../images/img-work7.png", "fa fa-home", "Creativity design")
            