.about {
  padding-top: 9rem;
  padding-bottom: 11rem;
  background-color: #fff;
  // Flexbox
  // &-list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -3rem;
  // }
  // &-item {
  //   margin-left: 3rem;
  //   width: calc(33.33% - 3rem);
  // }
  // CSS Grid
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }
  &-item {
    position: relative;
    z-index: 1;
    transition: transform 0.25s linear;
  }
  &-item:hover {
    transform: translate(-1rem, -1rem);
    .about-content {
      opacity: 1;
      visibility: visible;
    }
    &:after {
      transform: translate(1rem, 1rem);
    }
  }
  &-item:after {
    content: "";
    @include absoluteFull();
    @include bg($third-color);
    transition: transform 0.25s linear;
    z-index: -1;
  }
  &-content {
    @include absoluteFull();
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
    background: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($secondary-color, 0.8)
    );
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
  }
  &-icon {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  &-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.4;
  }
  @include maxWidth(768px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &-list {
      // grid-template-columns: 100%;
      // grid-row-gap: 2.5rem;
      grid-template-columns: unset;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-row-gap: 2.5rem;
      overflow-x: auto;
      @include hideScroll();
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
    }
    &-item {
      scroll-snap-align: center;
    }
  }
}
